input {
  tcp {
    port => 5600
    type => "rfc5424"
    codec => multiline {
      pattern => "^%{LOGLEVEL}"
      negate => true
      what => "previous"
      auto_flush_interval => 1
     }
  }
}

filter {

    grok {
      match => {
        message => "%{LOGLEVEL:logLevel}%{SPACE}\[%{GREEDYDATA:serviceName}\]%{SPACE}\[%{TIMESTAMP_ISO8601:timestamp}\]%{SPACE}%{GREEDYDATA:msgbody}"
      }
      remove_field => ["message"]
    }
}

output {
  elasticsearch {
    hosts => ["elasticsearch:9200"]
  }
  stdout { codec => rubydebug }
}