input {
  tcp {
    port => 5600
    type => "rfc5424"
    codec => multiline {
      pattern => "^%{LOGLEVEL}"
      negate => true
      what => "previous"
      auto_flush_interval => 1
     }
  }
}

filter {

    grok {
      match => {
        message => "%{LOGLEVEL:logLevel}%{SPACE}\[%{GREEDYDATA:correlationId}\]%{SPACE}\[%{GREEDYDATA:serviceName}\]%{SPACE}\[%{TIMESTAMP_ISO8601:timestamp}\]%{SPACE}%{GREEDYDATA:msgbody}"
      }
    }
    date {
      match => ["logdate", "yyyy-MM-dd HH:mm:ss,SSS", "ISO8601"]
    }

}

output {
  elasticsearch {
    hosts => ["elasticsearch:9200"]
  }
  stdout { codec => rubydebug }
}